Source: io.elementary.calculator
Section: x11
Priority: extra
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgranite-7-dev,
               libgtk-4-dev,
               meson,
               valac (>= 0.26)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/calculator

Package: io.elementary.calculator
Architecture: any
Depends: flatpak, ${misc:Depends}, ${shlibs:Depends}
Breaks: pantheon-calculator
Replaces: pantheon-calculator
Description: Calculate in an elementary way.

Package: pantheon-calculator
Architecture: any
Depends: io.elementary.calculator, ${misc:Depends}
Section: oldlibs
Priority: optional
Description: transitional dummy package
    This is a transitional dummy package. It can safely be removed.
