Source: calculus
Section: x11
Priority: extra
Maintainer: Marvin Beckers <beckersmarvin@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 8.0.0),
               valac-0.26 | valac (>= 0.26),
               libgranite-dev (>= 0.3.0),
               libgtk-3-dev (>= 3.12.0)
Standards-Version: 3.9.3

Package: calculus
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Calculate in an elementary way.
