[Desktop Entry]
Version=0.1
Name=Calculus
GenericName=Calculator
Comment=Calculate in an elementary way.
Exec=calculus %u
Icon=accessories-calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;Calculator;
X-GNOME-Gettext-Domain=calculus
